<script type="text/ng-template" id="userChatModal.html">
	<div class="modal-header">
		<button type="button" ng-click="uc.close()" class="close"><span>&times;</span></button>
		<h3 class="modal-title">MonsterChit</h3>
	</div>
	<div class="modal-body">
		
		<div class="row">
			<div class="col-sm-2">
				<div ng-repeat="user in uc.members">
					<a class="avatar-navbar">
						<img ng-src="{{ user.photoURL }}" class="img-thumbnail avatar-chat">
					</a>
				</div>
			</div>
			
			<div class="col-sm-9">
				<div class="chat-box">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-sm-9">
				<textarea class="form-control" rows="2"></textarea>
			</div>
		</div>
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" type="button" ng-click="uc.close()">Close</button>
	</div>
</script>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<ul class="nav navbar-nav">
			<li ng-repeat="user in ul.users">
				<a class="avatar-navbar">
					<img ng-click="ul.userChat(user)" ng-src="{{ user.photoURL }}" class="img-thumbnail avatar">
				</a>
			</li>
		</ul>
	</div>
</nav>